<!DOCTYPE html>
<html>
  <head>
  	<meta http-equiv="content-type" content="text/html; charset=utf-8;">
  	<title><%= @title %></title>
    <link type="text/css" href="/css/smoothness/jquery-ui-1.8.custom.css" rel="stylesheet" />
		<link type="text/css" href="/css/common.css" rel="stylesheet" />
    <link type="text/css" href="/css/dashboard.css" rel="stylesheet" />
    <script type="text/javascript" src="/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-1.8.custom.min.js"></script>
    <script type="text/javascript">
        
    jQuery.fn.id = function() {  
      var ids = [];
      this.each(function() {
        ids.push(jQuery(this).attr('id'));
      });
      if(ids.length > 1) return ids;
      else return ids[0];
    };
    
    budding = {
      ui: {
      },
      editing_title: null,
      editing_title_container: null
    }
        
    budding.init = function() {
      $('.top-button').button();
      $('#document-buttons').buttonset();
      $('.top-button').click(function(elem) {
        window.location = '/' + $(elem.target).attr('id').match(/button-(\w+)/)[1];
      });

      $("span#document-title").click(function () {
        if (budding.editing_title) {
          $(document).click();
        }
        var document_id = $(this).next().attr("href").match(/\d+$/);
        var input = $('<input type="text" id="title_'+document_id+'" value="'+$(this).html()+'">');
        budding.editing_title = "input#title_" + document_id;
        budding.editing_title_container = $(this);
        var offset = $(this).offset();
        input.click(function () {
          event.stopPropagation();
        });
        input.keypress(function () {
          if (event.which == 13) {
            budding.editing_title_container.html($(this).val());
            $.post("data-only/document", {
                                          "id": budding.editing_title.match(/\d+$/),
                                          "title": $(this).val()
                                          }, function (response) {
                                            if (response["status"] == "ok")
                                              budding.editing_title_container.css("background", "#fffcd1");
                                              window.setTimeout(function () {
                                                budding.editing_title_container.css("background", "white");
                                                window.setTimeout(function () {
                                                  budding.editing_title_container.css("background", "#fffcd1");
                                                  window.setTimeout(function () {
                                                    budding.editing_title_container.css("background", "white");
                                                  }, 100);
                                                }, 100);
                                              }, 100);
                                          }, "json");
            $(this).remove();
          }
        })
        //input.css("position", "absolute");
        //input.css("top", offset.top+10);
        //input.css("left", offset.left);
        input.addClass("editing-title");
        $(this).append($(input));
        input.focus();
        event.stopPropagation();
      });
    }

    $(document).click(function () {
      $(budding.editing_title).remove();
      budding.editing_title = null;
      budding.editing_title_container = null;
    });

    $(document).ready(function(){
      budding.init();
    });
    
    </script>
  </head>
  <body>
    <div id="top" class="ui-corner-top">
      <h1>Budding</h1>
      <input type="button" id="button-editor" class="top-button" value="Editor">
      <input type="button" id="button-tags" class="top-button" value="Tags">
      <input type="button" id="button-tagger" class="top-button" value="Tagger">
      <input type="button" id="button-logout" class="top-button" value="Logout">
    </div>
    <div id="controls" class="ui-corner-bottom">
      <% if flash.info %>
      <span id="info" class="server_error"><%= flash.info %></span>
      <% else %>
      <span id="info">Hello there, <%= current_user.email %>. 
        <% if @documents.empty? %>
        You don't have any documents yet. <a href="/editor">Should we get you started?</a>
        <% else %>
        Listing <%= @documents.length %> document<%= @documents.length == 1 ? '' : 's' %>. <a href="/editor">Start a new one?</a>
        <% end %>
      </span>
      <% end %>
		</div>
    <div id="content">
      <ul style="list-style: none; padding: 0px; margin: 0px;">
        <% for document in @documents %>
        <li>
          <span id="document-created-at" class="inline-box ui-corner-left"><%= document.created_on.strftime("%b %d %H:%M") %></span>
          <span id="document-title" title="Click to edit" class="inline-box"><%= document.title.empty? ? "&nbsp;" : document.title %></span>
          <a id="document-edit-button" href="/documents/<%= document.document_id %>" class="inline-box">edit</a>
          <a id="document-delete-button" href="/documents/<%= document.document_id %>/delete" class="inline-box ui-corner-right">delete</a>
        </li>
        <% end %>
      </ul>
      <h1 id="text-overview-0" class="ui-corner-top">
        Budding is essentialy a web-based news story editor. Here's what it can do:
      </h1>
      <div id="text-overview-1" class="ui-helper-clearfix">
        <img class="text-image" src="/images/overview-image-1.jpg">
        <div class="text-content">
          Budding is unlike any other text editor. The goal is to give you 
          what-you-see-is-what-you-get to some extent, but not so much that
          you don't know what's exactly happening under the hood. It lets you
          write and edit paragraphs individually, and soon as you stop editing
          a paragraph, it is displayed like final copy in the page.
        </div>
      </div>
      <div id="text-overview-2" class=" ui-helper-clearfix">
        <img class="text-image" src="/images/overview-image-2.jpg">
        <div class="text-content">
          Budding works a minimal set of HTML tags as to reduce complexity. You can 
          set what kind of paragraph you want in the inline editor, but it won't bother
          giving you a list of trivial styling markup tags, such as &lt;b&gt; for bold and &lt;i&gt;
          for italics as to avoid clutter in the interface.
        </div>
      </div>
      <div id="text-overview-3" class="ui-helper-clearfix">
        <img class="text-image" src="/images/overview-image-3.jpg">
        <div class="text-content">
          Budding makes it easy to enrich your news stories with links and metadata. You
          can create special link tags and use them in your text to automatically get
          customized link suggestions. You can also use a special Tagger application to
          feed known links and metadata to the system, so that when you get down to writing
          your article, you won't have to waste time chasing all those references.
        </div>
      </div>
      <p id="text-overview-4" class="ui-corner-bottom">
        Budding's ultimate goal is to provide you with an intelligent text editor, <span class="not_done">capable
        of identifying names, companies, locations, and other relevant pieces of information
        as you type them</span>, allowing them to easily becoming links, and enabling you to <span class="not_done">search
        them in the future</span>. Budding provides several ways to publish and export stories to 
        several formats, <span class="not_done">including a rich API that could be integrated to any existing content management system</span>.
      </p>
      <p id="blurb"><span class="blurb">A <a href="http://www.dangerousprecedent.com/">Dangerous Precedent</a> product.</span></p>
    </div>
  </body>
</html>
