<!DOCTYPE html>
<html>
  <head>
  	<meta http-equiv="content-type" content="text/html; charset=utf-8;">
  	<title><%= @title %></title>
    <link type="text/css" href="/css/smoothness/jquery-ui-1.8.custom.css" rel="stylesheet" />
    <link type="text/css" href="/css/dashboard.css" rel="stylesheet" />
    <script type="text/javascript" src="/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-1.8.custom.min.js"></script>
    <script type="text/javascript">
        
    jQuery.fn.id = function() {  
      var ids = [];
      this.each(function() {
        ids.push(jQuery(this).attr('id'));
      });
      if(ids.length > 1) return ids;
      else return ids[0];
    };
    
    budding = {
      ui: {
      }
    }
        
    budding.init = function() {
      $('.top-button').button();
      $('#document-buttons').buttonset();
      $('.top-button').click(function(elem) {
        window.location = '/' + $(elem.target).attr('id').match(/button-(\w+)/)[1];
      });
    }
    
    $(document).ready(function(){
      budding.init();
    });
    
    </script>
  	<style type="text/css" media="screen">

  	</style>
  </head>
  <body>
    <div id="top">
      <h1>Budding</h1>
      <input type="button" id="button-logout" class="top-button" value="Logout">
    </div>
    <div id="controls">
      <% if flash.info %>
      <span id="info" class="server_error"><%= flash.info %></span>
      <% else %>
      <span id="info">Hello there, <%= current_user.email %>. 
        <% if @documents.empty? %>
        You don't have any documents yet. <a href="/editor">Should we get you started?</a>
        <% else %>
        Listing <%= @documents.length %> document<%= @documents.length == 1 ? '': 's' %>. <a href="/editor">Start a new one?</a>
        <% end %>
      </span>
      <% end %>
		</div>
    <div id="content">
    <ul style="list-style: none; padding: 0px; margin: 0px;">
        <% for document in @documents %>
        <li>
          <span id="document-created-at" class="inline-box ui-corner-left"><%= document.created_on.strftime("%b %d %H:%M") %></span>
          <span id="document-title" class="inline-box"><%= document.title.empty? ? "&nbsp;" : document.title %></span>
          <a id="document-edit-button" href="/documents/<%= document.document_id %>" class="inline-box">edit</a>
          <a id="document-delete-button" href="/documents/<%= document.document_id %>/delete" class="inline-box ui-corner-right">delete</a>
        </li>
        <% end %>
      </ul>
      <div id="blurb"><span class="blurb">A <a href="http://www.dangerousprecedent.com/">Dangerous Precedent</a> product.</span></div>
    </div>
  </body>
</html>
