<!DOCTYPE html>
<html>
  <head>
  	<meta http-equiv="content-type" content="text/html; charset=utf-8;">
  	<title><%= @title %></title>
    <link type="text/css" href="/css/smoothness/jquery-ui-1.8.custom.css" rel="stylesheet" />
    <script type="text/javascript" src="/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-1.8.custom.min.js"></script>
    <script type="text/javascript">
        
    jQuery.fn.id = function() {  
      var ids = [];
      this.each(function() {
        ids.push(jQuery(this).attr('id'));
      });
      if(ids.length > 1) return ids;
      else return ids[0];
    };
    
    budding = {
      ui: {
      }
    }
        
    budding.init = function() {
      $('#document-buttons').buttonset();
    }
    
    $(document).ready(function(){
      budding.init();
    });
    
    </script>
  	<style type="text/css" media="screen">
  	
  	  * {
    		margin: 0;
    		padding: 0;
	    }
  		body {
  		  width: 100%;
  			font: normal 95% helvetica, sans-serif;
  			color: #000;
  			background-color: #fff;
  		}
  		
  		#top {
  		  padding: 0px;
  		  padding-left: 20px;
  		  padding-top: 10px;
  		  padding-bottom: 5px;
  		  margin: 0px;
  		  background: #ccc;
  		}
  		#top h1 {
        display: inline;
        margin-right: 5px;
  		}
  		#top input.top-button {
  		  font-size:12px;
		  }
		  
  		#content {
  		  padding: 0;
  			margin: 20px;
        width: 860px;
  			margin-bottom: 10px;
  		}
  		#content:after {  
        content: ".";  
        visibility: hidden;  
        display: block;  
        clear: both;  
        height: 0;  
        font-size: 0;
      }
      
  		#controls {
  		  font-size: 14px;
  		  padding: 0px;
  		  padding-top: 10px;
  		  padding-bottom: 10px;
  		  padding-left: 20px;
  		  margin: 0px;
  		  background: #ececec;
  		}
  		#controls:after {  
        content: ".";  
        visibility: hidden;  
        display: block;  
        clear: both;  
        height: 0;  
        font-size: 0;
      }  
      #content input {
  		  font-size: 12px;
		  }
		  .foo {
  		  font-size: 12px;		    
  		  font-weight: bold;
		  }
      #content label {
  		  font-size: 12px;
		  }
      #content li {
        margin-bottom: 3px;
      }
	    #content li:after {
        content: ".";  
        visibility: hidden;  
        display: block;  
        clear: both;  
        height: 0;  
        font-size: 0;
	    }  
	    .inline-box {
	      display: inline;
	      background: #eee;
	      border: 1px solid #bbb;
	      padding: 5px;
	    }
	    #document-created-at, #document-title, #document-edit-button, #document-delete-button {
	      display: block;
	      float: left;
	    }
	    #document-created-at {
	      width: 100px;
	      text-align: center;
	    }
	    #document-delete-button {
	      margin-left: -2px;
	    }
	    #document-edit-button, #document-delete-button {
        text-decoration: none;
        color: #000;
	    }
	    #document-edit-button:visited, #document-delete-button:visited, #document-edit-button:active, #document-delete-button:active {
        color: #000;
	    }
	    #document-edit-button:hover, #document-delete-button:hover {
        background: #fff;
        color: #000;
	    }

      #document-title {
	      background: #fff;
	      border: 1px solid #bbb;
	      margin: 0px -2px 0px -2px;
	      padding: 5px 10px 5px 10px;
	      width: 635px;
	    }
		  .server_error:before {
		    content: "[!] ";
		    font-weight: bold;
		    color: #A52A2A;
		    letter-spacing: 3px;
		  }
  	  #blurb {
  	    position: fixed;
  	    bottom: 25px;
        color: #F26722;
        font-family: times, Times New Roman, times-roman, georgia, serif;
        font-size: 18px;
	    }
	    #blurb span.blurb {
        padding: 10px;
	      background: #ececec;
	    }
	    #blurb a:visited { 
        color: #F26722;
      }
  	</style>
  </head>
  <body>
    <div id="top">
      <h1>Budding</h1>
      <span style="margin-left: 5px; margin-top: -5px; font-weight: bold; text-decoration: underline; color: #A52A2A;">An innovative authoring tool for multi-platform content.</span>
    </div>
    <div id="controls">
      <% if flash.info %>
      <span id="info" class="server_error"><%= flash.info %></span>
      <% else %>
      <span id="info">Hello there, <%= current_user.email %>. 
        <% if @documents.empty? %>
        You don't have any documents yet. <a href="/document/create">Should we get you started?</a>
        <% else %>
        Listing <%= @documents.length %> document<%= @documents.length == 1 ? '': 's' %>. <a href="/document/create">Start a new one?</a>
        <% end %>
      </span>
      <% end %>
		</div>
    <div id="content">
    <ul style="list-style: none; padding: 0px; margin: 0px;">
        <% for document in @documents %>
        <li>
          <span id="document-created-at" class="inline-box ui-corner-left"><%= document.created_on.strftime("%b %d %H:%M") %></span>
          <span id="document-title" class="inline-box"><%= document.title %></span>
          <a id="document-edit-button" href="/documents/<%= document.document_id %>" class="inline-box">edit</a>
          <a id="document-delete-button" href="/documents/<%= document.document_id %>/delete" class="inline-box ui-corner-right">delete</a>
        </li>
        <% end %>
      </ul>
      <div id="blurb"><span class="blurb">A <a href="http://www.dangerousprecedent.com/">Dangerous Precedent</a> product.</span></div>
    </div>
  </body>
</html>
