<!DOCTYPE html>
<html>
  <head>
  	<meta http-equiv="content-type" content="text/html; charset=utf-8;">
  	<title>Budding: <%= @document_title %></title>
    <link type="text/css" href="/css/smoothness/jquery-ui-1.8.custom.css" rel="stylesheet" />
		<link type="text/css" href="/css/common.css" rel="stylesheet" />
		<link type="text/css" href="/css/editor.css" rel="stylesheet" />
    <script type="text/javascript" src="/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-1.8.custom.min.js"></script>		
    <script type="text/javascript" src="/js/editor.js"></script>
    <script type="text/javascript">
    budding.document.id = <%= @document_id || "null" %>;
    budding.document.title = <%= @has_title ? %Q{"#{@document_title.gsub('"', '\\"').strip}"} : "null" %>;
    </script>
  </head>
  <body>
    <div id="top" class="ui-corner-top">
      <h1>Budding</h1>
      <input type="button" id="button-dashboard" class="top-button" value="Dashboard">
      <input type="button" id="button-tagger" class="top-button" value="Tagger">
      <input type="button" id="button-logout" class="top-button" value="Logout">
    </div>
    <div id="controls" class="ui-corner-bottom">
      <div id="document-title"></div>
      <div id="export-buttons"></div>
    </div>
    <div id="content">
     <div id="metadata-box">
        <div id="short-summary-box">
          <textarea id="short-summary-textarea" placeholder="Click here to add a short summary"></textarea>
        </div>
        <div id="metadata-fields-box">
          <div id="author-box" class="metadata-field-box ui-corner-top">
            <div id="author-label" class="metadata-field-label">Author</div> 
            <div id="author-content" class="metadata-field-content">...</div>
          </div>
          <div id="author-location-box" class="metadata-field-box" style="margin-top: -2px;">
            <div id="author-location-label" class="metadata-field-label">Author Location</div> 
            <div id="author-location-content" class="metadata-field-content">...</div>
          </div>
          <div id="language-box" class="metadata-field-box" style="margin-top: -2px;">
            <div id="language-label" class="metadata-field-label">Language</div> 
            <div id="language-content" class="metadata-field-content">...</div>
          </div>
          <div id="keywords-box" class="metadata-field-box" style="margin-top: -2px;">
            <div id="keywords-label" class="metadata-field-label">Keywords</div> 
            <div id="keywords-content" class="metadata-field-content">...</div>
          </div>
          <div id="last-modified-box" class="metadata-field-box" style="margin-top: -2px;">
            <div id="last-modified-label" class="metadata-field-label">Last modified</div> 
            <div id="last-modified-content" class="metadata-field-content">...</div>
          </div>
          <div id="wordcount-box" class="metadata-field-box ui-corner-bottom" style="margin-top: -2px;">
            <div id="wordcount-label" class="metadata-field-label">Wordcount</div> 
            <div id="wordcount-content" class="metadata-field-content">...</div>
          </div>
        </div>
      </div>
      <div id="editor">
        <div id="text-blocks">
          <div id="editor-controls-top">
            <div id="tag-type-buttonset">
              <input type="radio" name="tag-type-radio" id="tag-type-a" value="a"><label for="tag-type-a">&lt;a&gt;</label>
              <input type="radio" name="tag-type-radio" id="tag-type-google" value="google"><label for="tag-type-google">&lt;google&gt;</label>
              <input type="radio" name="tag-type-radio" id="tag-type-wikipedia" value="wikipedia"><label for="tag-type-wikipedia">&lt;wikipedia&gt;</label>
              <input type="radio" name="tag-type-radio" id="tag-type-person" value="person"><label for="tag-type-person">&lt;person&gt;</label>
              <input type="radio" name="tag-type-radio" id="tag-type-company" value="company"><label for="tag-type-company">&lt;company&gt;</label>
            </div>
          </div>
          <div id="tag-editor-box">
            <div class="tag-editor" class="ui-corner-top">
              <div id="link-suggestions">
              </div>
              <input id="tag-editor-input" type="input">
              <div id="tag-editor-tags">
              </div>
            </div>
          </div>
          <% if @text_blocks.length == 0 %>
            <div id="insertion-point-0" class="insertion-point"></div>
          <% else %>
            <% @text_blocks.each_with_index do |value, index| %>
            <p id="text-block-<%= index %>" class="text-block <%= value.attributes['class'] %>">
            <%= value.inner_html %>
            </p>
            <div id="insertion-point-<%= index %>" class="insertion-point"></div>
            <% end %>
          <% end %>
          <div id="text-block-preview"></div>
          <div id="editor-controls">
            <textarea id="text-block-ta"></textarea>
            <div id="text-block-type-buttonset">
              <input type="radio" name="radio-text-block-type" id="text-block-type-h1" value="h1"><label for="text-block-type-h1">&lt;h1&gt;</label>
              <input type="radio" name="radio-text-block-type" id="text-block-type-h2" value="h2"><label for="text-block-type-h2">&lt;h2&gt;</label>
              <input type="radio" checked="true" name="radio-text-block-type" id="text-block-type-p" value="p"><label for="text-block-type-p">&lt;p&gt;</label>
              <input type="radio" name="radio-text-block-type" id="text-block-type-blockquote" value="blockquote"><label for="text-block-type-blockquote">&lt;blockquote&gt;</label>
              <input type="button" value="Add" id="button-raw-import" style="height: 29px; margin-left: 5px;">
            </div>
            <div id="editor-save-box">
            </div>
          </div>
          <form id="editor-form" method=post action=/documents>
            <input type="hidden" name="title" value="">
            <input type="hidden" name="story" value="">
            <input type="button" id="editor-save" value="Save">
          </form>
        </div>
      </div>
      <div id="blurb"><span class="blurb">A <a href="http://www.dangerousprecedent.com/">Dangerous Precedent</a> product.</span></div>
    </div>
  </body>
</html>
