<!DOCTYPE html>
<html>
  <head>
  	<meta http-equiv="content-type" content="text/html; charset=utf-8;">
  	<title><%= @title %></title>
    <link type="text/css" href="/css/smoothness/jquery-ui-1.8.custom.css" rel="stylesheet" />
		<link type="text/css" href="/css/common.css" rel="stylesheet" />
    <link type="text/css" href="/css/tagger.css" rel="stylesheet" />
    <script type="text/javascript" src="/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-1.8.custom.min.js"></script>
    <script type="text/javascript" src="/js/jquery.textselectevent.js"></script>
    <script type="text/javascript" src="/js/jquery.textSelection-1.0.min.js"></script>
    <script type="text/javascript">
        
    jQuery.fn.id = function() {  
      var ids = [];
      this.each(function() {
        ids.push(jQuery(this).attr('id'));
      });
      if(ids.length > 1) return ids;
      else return ids[0];
    };
    
    budding = {ui: {}};
    
    <% unless flash.info.nil? %>
    budding.ui.forms['<%= flash.form %>']['#info'].html = '<%= flash.info.gsub("'", "\\\\'") %>';
    <% end %>
    
    budding.display_parsed_text = function(text_list) {
      var span, root = $('#potential-keywords');
      for(var i = 0, len = text_list.length; i < len; i++) {
        span = $('<span class="text-fragment">' + text_list[i] + '</span>');
        // span = $('<span class="tag ui-corner-all">' + tags[i].replace(" ", "&nbsp;") + '</span>');
        // span.draggable({zIndex: 2700});
        root.append(span);
        root.append(" ");
      }
      root.show();
    }
    
    budding.init = function() {

      $('.top-button').button();
      $("#taggerform").buttonset();
      $("#tags-submit").button();
      // $('#signup-button').click(budding.ui.listeners['#signup-button']);
      // $('#login-button').click(budding.ui.listeners['#login-button']);

      $('.tagbox').droppable({
        drop: function(event, ui) {
          
          var link = ui.draggable.text().replace('\u00a0', ' ');;
          var link_tag = $(this).attr('id').match(/([^-]*)-dropbox/)[1];
          
          var tag_elems = [
            $('<input type="hidden" name="links[][title]" value="' + link + '">'),
            $('<input type="hidden" name="links[][tag]" value="' + link_tag + '">')
          ];
          
          var tag_elem = $('<span class="tag ui-corner-all">' + link_tag + '</span>');
          tag_elem.addClass('selected-tag');
          $(this).find(":first-child").after(tag_elem);
          $('#tags-submit').before(tag_elems[0]);
          $('#tags-submit').before(tag_elems[1]);
          ui.draggable.hide();
        }
      });
      
      $('#tagger').show();
      
      $('#tagger-submit').click(function() {
        var url = $('#input-url').val();
        $.post('/text-extractor', {url: url}, budding.display_parsed_text, 'json');
      });

    }
    
    $(document).ready(function(){
      budding.init();
      $('.top-button').click(function(elem) {
        window.location = '/' + $(elem.target).attr('id').match(/button-(\w+)/)[1];
      });
      $('#potential-keywords').bind('textselect', function (evt, selection, element) {
        console.log(element);
        console.log(selection);
        var new_elements = [];
        var a = $(element).text().substr(0, selection.start-1);
        var b = $(element).text().substr(selection.end);
        if(a.length) {
          new_elements.push($('<span class="text-fragment">' + a + '</span>'));
        }
        var link = $('<span class="tag ui-corner-all">' + selection.text + '</span>');
        new_elements.push(link);
        if(b.length) {
          new_elements.push($('<span class="text-fragment">' + b + '</span>'));
        }
        for(var i = new_elements.length; i--; ) {
          $(element).after(new_elements[i]);
        }
        $(element).remove();
        if(!$('#selected-keywords').is(":visible")) {
          $('#selected-keywords').show();
        }
        var copy_of_link = link.clone();
        copy_of_link.draggable({zIndex: 2700});
        $('#selected-keywords').append(copy_of_link);
      });
    });
    
    </script>
  	<style type="text/css" media="screen">

  	</style>
  </head>
  <body>
    <div id="top" class="ui-corner-top">
      <h1>Budding</h1>
      <input type="button" id="button-dashboard" class="top-button" value="Dashboard">
      <input type="button" id="button-tags" class="top-button" value="Tags">
      <input type="button" id="button-logout" class="top-button" value="Logout">
    </div>
    <div id="controls" class="ui-corner-bottom">
      <% if flash.info %>
      <span id="info" class="server_error"><%= flash.info %></span>
      <% else %>
      <span id="info">Budding will scan text from a URL and identify potential keywords for tagging.</span>
      <% end %>
		</div>
    <div id="content">
		  <div id="tagger">
		    <form id="taggerform" action="/tagger" method="post">
          <input type="text" name="url" id="input-url" class="ui-widget" placeholder="URL to scrape" value="http://en.wikipedia.org/wiki/Apple_Inc.">
          <input id="tagger-submit" type="button" style="margin-left: 10px;" value="Import">
		    </form>
		    <div id="potential-keywords" class="ui-corner-all">
		    </div>
		    <div id="selected-keywords" class="ui-corner-all">
		    </div>
        <div id="dropboxes">
          <% for tag in @tags %>
          <div id="<%= tag[:name] %>-dropbox" class="tagbox ui-corner-all">
            <div class="box-label ui-corner-bl">&lt;<%= tag[:name] %>&gt;</div> 
          </div>
          <% end %>
        </div>
        <div id="dropbox-controls">
		      <form id="tagsform" action="/links" method="post">
            <input id="tags-submit" type="submit" style="margin-left: 10px;" value="Register tags">
		      </form>
        </div>
		  </div>
      <div id="blurb"><span class="blurb">A <a href="http://www.dangerousprecedent.com/">Dangerous Precedent</a> product.</span></div>
    </div>
  </body>
</html>
