<!DOCTYPE html>
<html>
  <head>
  	<meta http-equiv="content-type" content="text/html; charset=utf-8;">
  	<title><%= @title %></title>
    <link type="text/css" href="/css/smoothness/jquery-ui-1.8.custom.css" rel="stylesheet" />
		<link type="text/css" href="/css/common.css" rel="stylesheet" />
    <link type="text/css" href="/css/tags.css" rel="stylesheet" />
    <script type="text/javascript" src="/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-1.8.custom.min.js"></script>
    <script type="text/javascript">
        
    jQuery.fn.id = function() {  
      var ids = [];
      this.each(function() {
        ids.push(jQuery(this).attr('id'));
      });
      if(ids.length > 1) return ids;
      else return ids[0];
    };
    
    budding = {
      ui: {
        form: '<%= flash.form %>',
        forms: {
          login: {
            '#input-email': {color: '#bbb', name: 'email', placeholder: "Your e-mail", class: 'ui-widget'},
            '#input-password': {color: '#bbb', name: 'password', placeholder: "Your password", class: 'ui-widget', type: 'password'},
            '#info': {
                html: "Welcome back. If you want, we can keep you signed in for a while. " +
                      "<input id=keep_signed_in type=checkbox class=ui-widget style=\"margin-left: 5px;\" name=keep_signed_in>" +
                      "<label for=keep_signed_in style=\"margin-left: 5px;\">Sounds good.</label>"
            }
          },
          signup: {
            '#input-email': {color: '#bbb', name: 'signup_email', placeholder: "Your e-mail", class: 'ui-widget'},
            '#input-password': {color: '#bbb', name: 'signup_password', placeholder: "Your password", class: 'ui-widget'},
            '#info': {html: "Signing up is as easy as logging in. We'll send you an e-mail with your password, but no activation is needed."}
          }
        },
        listeners: {
          '#signup-button': function() {
            $('#signup-button').attr('checked', true);
            $('#auth').buttonset('refresh');
            $('#authform').attr('action', '/signup');
            $('#input-email').attr('name', budding.ui.forms.signup['#input-email'].name);
            $('#input-password-login').hide();
            $('#input-password-signup').show();
            $('#info').removeClass('server_error');
            $('#info').html(budding.ui.forms.signup['#info'].html);
            budding.ui.form = 'signup';
          },
          '#login-button': function() {
            $('#login-button').attr('checked', true);
            $('#auth').buttonset('refresh');
            $('#authform').attr('action', '/login');
            $('#input-email').attr('name', budding.ui.forms.login['#input-email'].name);
            $('#input-password-login').attr('name', budding.ui.forms.login['#input-password'].name);
            $('#input-password-signup').hide();
            $('#input-password-login').show();
            $('#info').removeClass('server_error');
            $('#info').html(budding.ui.forms.login['#info'].html);
            $('#keep_signed_in').click(function() {
              if($(this).is(":checked")) {
                $('label[for=keep_signed_in]').css('font-weight', 'bold');
                $('#authform').append('<input type=hidden name=keep_signed_in value=1>');
              } else {
                $('label[for=keep_signed_in]').css('font-weight', 'normal');
                $('#authform input[name=keep_signed_in]').remove();
              }
            });
            budding.ui.form = 'login';
          },
          
        }
      }
    }
    
    <% unless flash.info.nil? %>
    budding.ui.forms['<%= flash.form %>']['#info'].html = '<%= flash.info.gsub("'", "\\\\'") %>';
    <% end %>
    
    budding.init = function() {

      $('.top-button').button();
      $("#tagger").buttonset();
      // $('#signup-button').click(budding.ui.listeners['#signup-button']);
      // $('#login-button').click(budding.ui.listeners['#login-button']);

      $('#input-email, #input-password-signup, #input-password-login').focus(function(e) {
        $(this).css({color: "#000"});
      });

      $('#input-email, #input-password-signup, #input-password-login').blur(function(e) {
        var input = "#" + $(this).id();
        if(input.match(/^#input-password/)) {
          input = '#input-password';
        }
        if($(this).val() == $(this).attr('placeholder')) {
          console.log("budding.ui.form: " + budding.ui.form);
          console.log("input: " + input);
          $(this).css({color: budding.ui.forms[budding.ui.form][input].color});
        }
      });

      if(budding.ui.form == 'login') {
        budding.ui.listeners['#login-button'].call($('#login-button'));
      } else if(budding.ui.form == 'signup') {
        budding.ui.listeners['#signup-button'].call($('#signup-button'))
      }
      
      $('#auth').buttonset('refresh');
      $('#tagger').show();

    }
    
    $(document).ready(function(){
      budding.init();
    });
    
    </script>
  </head>
  <body>
    <div id="top" class="ui-corner-top">
      <h1>Budding</h1>
      <input type="button" id="button-dashboard" class="top-button" value="Dashboard">
      <input type="button" id="button-logout" class="top-button" value="Logout">
    </div>
    <div id="controls" class="ui-corner-bottom">
      <% if flash.info %>
      <span id="info" class="server_error"><%= flash.info %></span>
      <% else %>
      <span id="info">Budding will scan text from a URL and identify potential keywords for tagging.</span>
      <% end %>
		</div>
    <div id="content">
		  <div id="tagger">
		    <form id="taggerform" action="/tagger" method="post" >
          <input type="text" name="url" id="input-url" class="ui-widget" placeholder="URL to scrape">
          <input type="submit" style="margin-left: 10px;" value="Import">
		    </form>
		  </div>
      <div id="blurb"><span class="blurb">A <a href="http://www.dangerousprecedent.com/">Dangerous Precedent</a> product.</span></div>
    </div>
  </body>
</html>
