<!DOCTYPE html>
<html>
  <head>
  	<meta http-equiv="content-type" content="text/html; charset=utf-8;">
  	<title><%= @title %></title>
    <link type="text/css" href="/css/smoothness/jquery-ui-1.8.custom.css" rel="stylesheet" />
		<link type="text/css" href="/css/common.css" rel="stylesheet" />
    <link type="text/css" href="/css/tags.css" rel="stylesheet" />
    <script type="text/javascript" src="/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-1.8.custom.min.js"></script>
    <script type="text/javascript">
        
    jQuery.fn.id = function() {  
      var ids = [];
      this.each(function() {
        ids.push(jQuery(this).attr('id'));
      });
      if(ids.length > 1) return ids;
      else return ids[0];
    };
    
    budding = {
      tags: {list: []},
      ui: {
        current_tag: 0
      }
    };
    
    budding.update_tag_list = function() {
      var tags = $('.tag-box');
      for(var i = 0, len = tags.length; i < len; i++) {
        if(i < budding.tags.list.length) {
          budding.tags.list[i].name = $(tags[i]).find('.tag-name').val();
          budding.tags.list[i].description = $(tags[i]).find('.tag-description').val();
          budding.tags.list[i].query_url = $(tags[i]).find('.tag-query-url').val();
        } else {
          budding.tags.list[i] = {
            name: $(tags[i]).find('.tag-name').val(),
            description: $(tags[i]).find('.tag-description').val(),
            query_url: $(tags[i]).find('.tag-query-url').val()
          }
        }
      }
    }
    
    budding.ui.handlers = {};
    budding.ui.handlers.save_button = {
      click: function() {
        budding.update_tag_list();
        console.log('wtf: ' + budding.tags.list);
        $.post('/tags', JSON.stringify(budding.tags.list), function(data) {console.log(data)}, 'json');
      }
    }
    budding.ui.handlers.tag_remove_button = {
      click: function() {
        var parent = $(this).parent()[0];
        var total = $('.tag-box').length;
        var last = $('.tag-box:last')[0];
        if(parent != last) {
          $(parent).remove();
        } else {
          if(total == 1) {
            $(parent).find(".tag-name").val("");
            $(parent).find(".tag-description").val("");
            $(parent).find(".tag-query-url").val("");
          } else {
            var add_button = $('#tag-box-add').detach();
            $(parent).remove();
            $('.tag-box:last').append(add_button);
          }
          budding.tags.list = [];
        }
      }
    }
    
    budding.init = function() {

      $('.top-button').button();
      
      $('.top-button').click(function(elem) {
        window.location = '/' + $(elem.target).attr('id').match(/button-(\w+)/)[1];
      });
      $('#tag-box-add').click(function() {
        var self = $('#tag-box-add').detach();
        var new_tag = $('.tag-box:last').clone();
        new_tag.append(self);
        $('.tag-box:last').after(new_tag);
        new_tag.find(".tag-name").val("");
        new_tag.find(".tag-description").val("");
        new_tag.find(".tag-query-url").val("");
        $('.tag-save-button').unbind('click', budding.ui.handlers.save_button.click);
        $('.tag-save-button').click(budding.ui.handlers.save_button.click);
        $('.tag-remove').unbind('click', budding.ui.handlers.tag_remove_button.click);
        $('.tag-remove').click(budding.ui.handlers.tag_remove_button.click);
      });
      $('.tag-remove').unbind('click', budding.ui.handlers.tag_remove_button.click);
      $('.tag-remove').click(budding.ui.handlers.tag_remove_button.click);      
      $('.tag-save-button').unbind('click', budding.ui.handlers.save_button.click);
      $('.tag-save-button').click(budding.ui.handlers.save_button.click);

    }
    
    $(document).ready(function(){
      budding.init();
    });
    
    </script>
  	<style type="text/css" media="screen">

  	</style>
  </head>
  <body>
    <div id="top" class="ui-corner-top">
      <h1>Budding</h1>
      <input type="button" id="button-dashboard" class="top-button" value="Dashboard">
      <input type="button" id="button-editor" class="top-button" value="Editor">
      <input type="button" id="button-tagger" class="top-button" value="Tagger">
      <input type="button" id="button-logout" class="top-button" value="Logout">
    </div>
    <div id="controls" class="ui-corner-bottom">
      <% if flash.info %>
      <span id="info" class="server_error"><%= flash.info %></span>
      <% else %>
      <span id="info">Define special link tags you can use in your documents.</span>
      <% end %>
		</div>
    <div id="content">
      <% if @tags.length > 0 %> 
        <% for tag in @tags %>
  		  <div class="tag-box ui-corner-all">
  		    <input type="input" class="tag-name" placeholder="Tag name" value="<%= tag[:name] %>">
  		    <input type="input" class="tag-description" placeholder="Tag description" value="<%= tag[:description] %>">
  		    <input type="input" class="tag-query-url" placeholder="Tag query URL" value="<%= tag[:query_url] %>">
  		    <div class="tag-save-button ui-corner-all">Save</div>
  		    <div class="tag-remove"></div>
  		    <% if tag == @tags[-1] %>
  		      <div id="tag-box-add" class="ui-corner-bottom"></div>
  		    <% end %>
  		  </div>
  		  <% end %>
      <% else %>
		  <div class="tag-box ui-corner-all">
		    <input type="input" class="tag-name" placeholder="Tag name">
		    <input type="input" class="tag-description" placeholder="Tag description">
		    <input type="input" class="tag-query-url" placeholder="Tag query URL">
		    <div class="tag-save-button ui-corner-all">Save</div>
		    <div class="tag-remove"></div>
		    <div id="tag-box-add" class="ui-corner-bottom"></div>
		  </div>
  		<% end %>
      <div id="blurb"><span class="blurb">A <a href="http://www.dangerousprecedent.com/">Dangerous Precedent</a> product.</span></div>
    </div>
  </body>
</html>
