<!DOCTYPE html>
<html>
  <head>
    <title>Budding &raquo; Dashboard &raquo; <%= @document.title %></title>
    <link rel="stylesheet" href="/css/base.css" type="text/css" media="screen" title="Base layout" charset="utf-8">
    <meta http-equiv="content-type" value="text/html; charset=utf-8">
  </head>
  <body>
    <h1>
      <a href="/">Budding</a> &raquo;
      <a href="/dashboard">Dashboard</a> &raquo;
      <%= "<a href=\"/document/open/#{@document.document_id}\">#{@document.title}</a>" %>
    </h1>
    <div>
          <h2><%= @document.title %></h2>
          <p><strong>Summary:</strong> <%= @document.short_summary %></p>
          <p><strong>Teaser:</strong> <%= @document.teaser %></p>
          <p><%= @document.story %></p>
          <hr>
          <p><strong>Locations:</strong> <%= @document.locations %></p>
          <p><strong>People:</strong> <%= @document.people %></p>
          <p><strong>Companies:</strong> <%= @document.companies %></p>
          <p><strong>Keywords:</strong> <%= @document.keywords %></p>
          <p><strong>Language:</strong> <%= @document.locations %></p>
          <p>Created on <%= @document.created_on.strftime("%a, %m/%d/%Y %H:%M:%S") %></p>
          <p><a href="/document/edit/<%= @document.document_id %>">Edit this document</a>.</p>
          <p><a href="/document/pdf/<%= @document.document_id %>">Download this document as PDF</a>.</p>
    </div>
  </body>
</html>
